body {
    background-color: #7FB1B4;
    font-family: Roboto;
}

/**
Decoration navbar
**/

#navbar {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
    width: 100px;
    background-color: #E2F3F9;
}

li a {
    display: block;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #CAE0E9;
    text-decoration: none;
}

li a:active: {
    color: #E2F3F9;
}

li a.active {
    background-color: #22252B;
    color: #E2F3F9;
}

li a.active:hover {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    li {
        float: none;
        width: 100px;
        margin: auto;
    }
}

/**
Decorating text
**/
h1 {
    color: #22252B;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 75px;
}

p {
    color: #22252B;
    font-size: 14px;
}

/**
Decorating links
**/
a:link {
    color: #22252B;
    text-decoration: none;
}

a:visited {
    color: #22252B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/**
Decorating divs
**/

.content {

}

.info {
    margin: auto;
    text-align: center;
    color: #22252B;
    width: 50%;
    max-width: 400px;
    padding: 10px;
}
