* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


body {
    background-color: #9CB2CE;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

/**
Decoration header
**/

header {
    color: #E2F3F9;
    margin-top: 1.5em;
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 4em;
    text-align: center;
}

/**
Decorating about
**/

.about {
    color: #E2F3F9;
    margin-top: 1.5em;
    width: 60%;
    margin: auto;
}

.about h2 {
    text-align: center;
}

.about-text {
    background-color: #E2F3F9;
    color: #22252B;
    opacity: 0.85;
    padding: 1em;
    border-radius: 0.5em;
}


/**
Decorating assignment-placeholders
**/

.assignments {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 1em;
    color: #E2F3F9;
}

.assignments-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    color: #22252B;
    margin: auto;
}

.assignment {
    opacity: 0.85;
    padding: 1em;
    margin: 0.5em 1em 1em 0.5em;
    background-color: #E2F3F9;
    border-radius: 0.5em;
    text-align: center;
}

.assignment:hover {
    opacity: 1;
    text-decoration: none;
}

.assignment:link {
    color: #22252B;
    text-decoration: none;
}

.assignment:visited {
    color: #22252B;
    text-decoration: none;
}



/**
Decorating links in footer
**/
footer a:link {
    color: #22252B;
    text-decoration: none;
}

footer a:visited {
    color: #22252B;
    text-decoration: none;
}

footer a:hover {
    color: #9CB2CE;
}


/**
Decorating divs
**/



/**
Decorating footer
**/

footer {
    background-color: #E2F3F9;
    color: #22252B;
    position: relative;
    margin-top: 3em;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}


footer div {
    float: left;
    width: 33.33%;
    padding: 10px;
    position: absolute:
    bottom: 0;
}

footer div.course {
    text-align: center;
}

footer img {
    width: 10em;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 400px) {
    footer div {
        width: 100%;
    }
}
