* {
    box-sizing: border-box;
}

body {
    background-color: #9CB2CE;
    font-family: Roboto;
    margin: 0;
}

/**
Decorating text
**/
h1 {
    color: #E2F3F9;
    padding-top: 50px;
    text-align: center;
    font-size: 10vw;

}

p {
    color: #22252B;
    font-size: 14px;
}

/**
Decoration navbar
**/

#navbar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

li {
    float: left;
    background-color: #E2F3F9;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #CAE0E9;
    text-decoration: none;
}

li a:active: {
    color: #E2F3F9;
}

li a.active {
    background-color: #22252B;
    color: #E2F3F9;
}

li a.active:hover {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    li {
        float: none;
        width: 100px;
        margin: auto;
    }
}

/**
Decorating assignment-placeholders
**/

.assignments {
    color: #22252B;
    overflow: scroll;
    margin: auto;
}

.column {
    float: left;
    padding: 1em;
    margin: 0.5em 1em 1em 0.5em;
    background-color: #E2F3F9;
    text-align: center;
}

.assignment-item {
    float: left;
    padding: 1em;
    margin: 0.5em 1em 1em 0.5em;
    background-color: #E2F3F9;
    text-align: center;
}

.column:hover {
    background-color: #CAE0E9;
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: center;
}

#assignment-items {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;
    justify-content: center;
}

/**
Clear floats after columns
**/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/**
Decorating links
**/
a:link {
    color: #22252B;
    text-decoration: none;
}

a:visited {
    color: #22252B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/**
Decorating divs
**/

.fillerText {
    width: 61%;
    background-color: #E2F3F9;
    padding: 1.5em;
    margin: auto;
    margin-top: 1em;
}

/**
Decorating footer
**/

footer {
    background-color: #E2F3F9;
    color: #22252B;
    position: relative;
    margin-top: 3em;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}


footer div {
    float: left;
    width: 33.33%;
    padding: 10px;
    position: absolute:
    bottom: 0;
}

footer div.course {
    text-align: center;
}

footer img {
    width: 10em;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 400px) {
    footer div {
        width: 100%;
    }
}
