.caja {
  font-family: "Times New Roman";
  color: #151515;
  background-color: #222d2d;
}

#estiloh1 {
  font-size: xx-large;
  font-family: "Modern";
  text-align: center;
  background-image: url("presence-ii.png");
}

#estilop {
  text-align: justify;
}

#estiloul {
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  font-size: medium;
  line-height: normal;
  vertical-align: 10px;
}

a {
  color: #74df00;
}

a:hover {
  color: yellow;
}

.estiloh1 {
  border-width: medium;
  border-top-left-radius: 0cm;
}


#estilo3columnas:hover {
  column-count: 3;
}


#rotacion {
  perspective: 0px;
  transform-origin: left 50% 0px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transform: rotate(30deg);
  perspective-origin: center center;
}


@media screen (min-width: 421px) and (max-width: 768px)
	.caja {background-color: yellow;}
}
